 body{
margin: 0%;
display: flex;
background-color: antiquewhite;
padding: 10px;

 }

    
 
 
 .products-section {
            padding: 30px;
            text-align: center;
        }
        .card-container {
            
            display: flex;
            gap: 20px;
            margin-top: 20px;
        }
        .card {
            background: white;
            width: 250px;
            padding: 15px;
        
             }
        .card img {
            width: 100%;
            border-radius: 5px;
        }
    

    
        .card p {
            color: green;
            font-weight: bold;
        }
